Backend-.net-Api-rest/CostumeWeb.App/CostumeWeb.App.Servicios/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Backend-.net-Api-rest/CostumeWeb.App/CostumeWeb.App.Servicios/obj/Debug/net5.0/CostumeWeb.App.Servicios.AssemblyInfo.cs
Backend-.net-Api-rest/CostumeWeb.App/CostumeWeb.App.Servicios/obj/Debug/net5.0/CostumeWeb.App.Servicios.AssemblyInfoInputs.cache
Backend-.net-Api-rest/CostumeWeb.App/CostumeWeb.App.Servicios/obj/Debug/net5.0/CostumeWeb.App.Servicios.assets.cache
Backend-.net-Api-rest/CostumeWeb.App/CostumeWeb.App.Servicios/obj/Debug/net5.0/CostumeWeb.App.Servicios.csproj.AssemblyReference.cache
Backend-.net-Api-rest/CostumeWeb.App/CostumeWeb.App.Servicios/obj/Debug/net5.0/CostumeWeb.App.Servicios.GeneratedMSBuildEditorConfig.editorconfig
Backend-.net-Api-rest/CostumeWeb.App/CostumeWeb.App.Servicios/obj/Debug/net5.0/project.razor.json
